   <!- ->
    <div class="main-header">
      <div class=main-chat-name>
        techroom1
      </div>
      <div class="chat-end">
      <a href="#">チャットを終了する</a>
      </div>
    </div>
    <!- ->
    <div class="chat-room">
      <div class="chat-box">
        <div class="message-info">
          <div class="user-name">Tom</div>
          <div class="post-time">2020/3/31(Wed) 12:43:30</div>
        </div>
        <div class="chat-text">おはよう</div>
      </div>

      <div class="chat-box">
        <div class="message-info">
          <div class="user-name">Tom</div>
          <div class="post-time">2020/3/31(Wed) 12:43:30</div>
        </div>
        <div class="chat-text">こんばんは</div>
      </div>
    </div>
    <!- ->
    <div class="chat-form">
        <div class="form-box">
          <input type="text" placeholder="type a message" class="text-form" >
          <label class="form-image">
            <span class="image-file">画像</span>
            <input type="file" class="image-btn">
          </label>
        </div>
      <input type="submit" value="送信" class="send-btn">
      </form>
    </div>
