      <div class="chat-box">
        <div class="message-info">
          <div class="user-name"><%= message.user.name %></div>
          <div class="post-time"><%= l message.created_at%></div>
        </div>
        <div class="chat-text"><%= message.content %></div>
      </div>