    <!-サイドバー上段->
    <div class="side-header"> 
      <div class="myname">
        <%= link_to "#{current_user.name}",edit_user_path(current_user) %>
      </div>
      <div class="chat-create">
        <%= link_to "チャットを作成する", new_room_path %>
      </div>
    </div>

    <!-サイドバー中段->
  <div class="side-menu">
    <% current_user.rooms.each do |room| %>
      <div class="side-chat">
        <div class="side-chat-name">
          <a href="#"><%= room.name %></a>
        </div>
      </div>
      <% end %>
  </div>