    <!-サイドバー上段->
    <div class="side-header"> 
      <div class="myname">
        <a href="#">mike</a>
      </div>
      <div class="chat-create">
        <a href="#">チャットを作成する</a>
      </div>
    </div>

    <!-サイドバー中段->
  <div class="side-menu">
    <div class="side-chat">
      <div class="side-chat-name">
        <a href="#">techroom1</a>
        </div>
    </div>
     <div class="side-chat">
      <div class="side-chat-name">
        <a href="#">techroom2</a>
      </div>
    </div>
  </div>